// Import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

$orange: #cb4e00;
$red: #dc143c;

/* #bf81c5 is the value we want, #800080 is a purple that’s absolutely safe,
 * let’s take something in between */
$purple: mix(#bf81c5, #800080, 65%);

$primary: $purple;
$danger: $red;
$info: $blue;

// Import the rest of Bulma
@import "node_modules/bulma/bulma";

.is-title {
  padding-top: 1.5rem;
}

// Specific to Comboros Forms

fieldset {
  border: 0; /* used for accessibility */
}

.card.bundle.selected {
  color: $button-focus-color;
  box-shadow: 0 0 0 0.250em rgba($success, 0.25), 0 0 0 1px $success;
}

.card.bundle footer button {
  height: 3rem;
}

.card.ticket.selected {
  color: $button-focus-color;
  box-shadow: 0 0 0 0.250em $button-focus-box-shadow-color, 0 0 0 1px $button-focus-border-color;
}

.card.ticket footer button {
  height: 3rem;
}

.radio {
  input {
    margin-right: 0.2rem;
  }
}

.radio.is-disabled {
  color: $grey;
  cursor: not-allowed;

  strong {
    color: $grey;
  }
}

.label.mandatory::after {
  content: "*";
  color: $danger;
  font-weight: normal;
  padding-left: 0.2rem;
}

.spinner {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin: 4rem auto;

    .bouncer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $blue;
        opacity: 0.5;
        -webkit-animation: bouncer 2s infinite ease-in-out;
                animation: bouncer 2s infinite ease-in-out;
    }

    .bouncer.is-delayed {
        -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
    }

    .bouncer.is-primary  {
        background-color: $primary;
    }
}

@-webkit-keyframes bouncer {
    0%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes bouncer {
    0%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.registration-suggestion {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-lighter;
}

.registration-suggestion:first-child {
    margin-top: 1rem;
}

.registration-suggestion:last-child {
    border-bottom: none;
}
